html, body {
	background:#FFF1C8;
}
 .santa {
 	position: relative;
 	width: 324px;
 	height: 360px;
 	margin: 100px, auto 0;
 }

 /* HAT */
 .hat {
 	position:absolute;
 	top:16px;
 	right:39px;
 	width: 101px;
 	height: 101px;
 	border-radius: 0, 0, 100px 0;
 	background:#E64604;
 }